.a {
    max-width: 1536px;
}
.b {
position: absolute;
}
.c {
position: relative;
}
.d {
top: -0.5rem;
right: -0.5rem;
bottom: -0.5rem;
left: -0.5rem;
}
.e {
top: -0.25rem;
right: -0.25rem;
bottom: -0.25rem;
left: -0.25rem;
}
.f {
top: 4rem;
right: 4rem;
bottom: 4rem;
left: 4rem;
}
.g {
top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
}
.h {
top: -1rem;
right: -1rem;
bottom: -1rem;
left: -1rem;
}
.i {
top: -1px;
right: -1px;
bottom: -1px;
left: -1px;
}
.j {
left: 0px;
right: 0px;
}
.k {
top: 9rem;
}
.l {
grid-column: span 2 / span 2;
}
.m {
margin: -0.75rem;
}
.n {
margin-left: auto;
margin-right: auto;
}
.o {
margin-left: 2rem;
margin-right: 2rem;
}
.p {
margin-top: -0.25rem;
margin-bottom: -0.25rem;
}
.q {
margin-top: 1.75rem;
}
.r {
margin-top: 2.5rem;
}
.s {
margin-top: 3rem;
}
.t {
margin-top: 1.5rem;
}
.u {
margin-top: 2rem;
}
.v {
margin-top: 4rem;
}
.w {
margin-top: 3.5rem;
}
.x {
margin-top: 0.5rem;
}
.y {
margin-top: 1rem;
}
.z {
margin-left: 0.75rem;
}
.ab {
margin-top: 1.25rem;
}
.bb {
margin-top: 0.125rem;
}
.cb {
margin-top: 0px;
}
.db {
margin-left: 1.25rem;
}
.eb {
margin-top: 2.25rem;
}
.fb {
margin-right: 0.5rem;
}
.gb {
margin-top: 0.625rem;
}
.hb {
display: block;
}
.ib {
display: flex;
}
.jb {
display: inline-flex;
}
.kb {
display: grid;
}
.lb {
display: none;
}
.mb {
height: 1.75rem;
}
.nb {
height: 1rem;
}
.ob {
height: 100%;
}
.pb {
height: 2rem;
}
.qb {
height: 2.5rem;
}
.rb {
height: 1.5rem;
}
.sb {
height: auto;
}
.tb {
height: 2.75rem;
}
.ub {
height: 3rem;
}
.vb {
height: 1.25rem;
}
.wb {
height: 66.666667%;
}
.xb {
height: 2.25rem;
}
.yb {
height: 7rem;
}
.zb {
width: 1.75rem;
}
.ac {
width: auto;
}
.bc {
width: 100%;
}
.cc {
width: 2.5rem;
}
.dc {
width: 1.5rem;
}
.ec {
width: 11rem;
}
.fc {
width: 2.75rem;
}
.gc {
width: 1.25rem;
}
.hc {
width: 1rem;
}
.ic {
width: 7rem;
}
.jc {
max-width: 80rem;
}
.kc {
max-width: 48rem;
}
.lc {
max-width: 42rem;
}
.mc {
max-width: 32rem;
}
.nc {
max-width: 56rem;
}
.oc {
max-width: 28rem;
}
.pc {
max-width: 36rem;
}
.qc {
max-width: 24rem;
}
.rc {
max-width: 64rem;
}
.sc {
flex: 1 1 0%;
}
.tc {
flex-shrink: 0;
}
.uc {
--tw-rotate: 180deg;
transform: var(--tw-transform);
}
.vc {
--tw-rotate: -3deg;
transform: var(--tw-transform);
}
.wc {
--tw-scale-x: 1.1;
--tw-scale-y: 1.1;
transform: var(--tw-transform);
}
.xc {
transform: var(--tw-transform);
}
.yc {
list-style-position: outside;
}
.zc {
list-style-type: disc;
}
.bd {
grid-template-columns: repeat(1, minmax(0, 1fr));
}
.cd {
grid-template-columns: repeat(2, minmax(0, 1fr));
}
.dd {
flex-direction: column;
}
.ed {
align-items: flex-start;
}
.fd {
align-items: flex-end;
}
.gd {
align-items: center;
}
.hd {
justify-content: flex-start;
}
.id {
justify-content: center;
}
.jd {
justify-content: space-between;
}
.kd {
gap: 1.25rem;
}
.ld {
gap: 2rem;
}
.md {
gap: 2.5rem;
}
.nd {
row-gap: 1.75rem;
}
.od {
row-gap: 3rem;
}
.pd {
row-gap: 1.5rem;
}
.qd {
row-gap: 2rem;
}
.rd {
-moz-column-gap: 5rem;
     column-gap: 5rem;
}
.sd {
row-gap: 0.75rem;
}
.td {
-moz-column-gap: 3rem;
     column-gap: 3rem;
}
.ud {
row-gap: 4rem;
}
.vd {
-moz-column-gap: 4rem;
     column-gap: 4rem;
}
.wd > :not([hidden]) ~ :not([hidden]) {
--tw-space-y-reverse: 0;
margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}
.xd > :not([hidden]) ~ :not([hidden]) {
--tw-space-x-reverse: 0;
margin-right: calc(1.5rem * var(--tw-space-x-reverse));
margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.yd > :not([hidden]) ~ :not([hidden]) {
--tw-space-x-reverse: 0;
margin-right: calc(0.75rem * var(--tw-space-x-reverse));
margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}
.zd > :not([hidden]) ~ :not([hidden]) {
--tw-space-y-reverse: 0;
margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}
.ae > :not([hidden]) ~ :not([hidden]) {
--tw-space-y-reverse: 0;
margin-top: calc(1.75rem * calc(1 - var(--tw-space-y-reverse)));
margin-bottom: calc(1.75rem * var(--tw-space-y-reverse));
}
.be > :not([hidden]) ~ :not([hidden]) {
--tw-space-y-reverse: 0;
margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.ce {
overflow: hidden;
}
.de {
overflow-x: hidden;
}
.ee {
border-radius: 0.25rem;
}
.fe {
border-radius: 0.75rem;
}
.ge {
border-radius: 9999px;
}
.he {
border-radius: 0.5rem;
}
.ie {
border-radius: 1.5rem;
}
.je {
border-radius: 1rem;
}
.ke {
border-top-left-radius: 0.75rem;
border-bottom-left-radius: 0.75rem;
}
.le {
border-top-right-radius: 0.75rem;
border-bottom-right-radius: 0.75rem;
}
.me {
border-width: 1px;
}
.ne {
border-width: 2px;
}
.oe {
border-left-width: 2px;
}
.pe {
border-color: transparent;
}
.qe {
--tw-border-opacity: 1;
border-color: rgba(24, 24, 27, var(--tw-border-opacity));
}
.re {
--tw-border-opacity: 1;
border-color: rgba(212, 212, 216, var(--tw-border-opacity));
}
.se {
--tw-border-opacity: 1;
border-color: rgba(161, 161, 170, var(--tw-border-opacity));
}
.te {
--tw-border-opacity: 1;
border-color: rgba(82, 82, 91, var(--tw-border-opacity));
}
.ue {
--tw-border-opacity: 1;
border-color: rgba(228, 228, 231, var(--tw-border-opacity));
}
.ve {
--tw-bg-opacity: 1;
background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.we {
--tw-bg-opacity: 1;
background-color: rgba(24, 24, 27, var(--tw-bg-opacity));
}
.xe {
--tw-bg-opacity: 1;
background-color: rgba(250, 250, 250, var(--tw-bg-opacity));
}
.ye {
background-color: transparent;
}
.ze {
background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}
.af {
background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
.bf {
--tw-gradient-from: transparent;
--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(0, 0, 0, 0));
}
.cf {
--tw-gradient-from: #44BCFF;
--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(68, 188, 255, 0));
}
.df {
--tw-gradient-stops: var(--tw-gradient-from), transparent, var(--tw-gradient-to, rgba(0, 0, 0, 0));
}
.ef {
--tw-gradient-stops: var(--tw-gradient-from), #FF44EC, var(--tw-gradient-to, rgba(255, 68, 236, 0));
}
.ff {
--tw-gradient-to: #fafafa;
}
.gf {
--tw-gradient-to: #FF675E;
}
.hf {
-o-object-fit: contain;
   object-fit: contain;
}
.if {
-o-object-fit: cover;
   object-fit: cover;
}
.jf {
padding: 0.75rem;
}
.kf {
padding: 0.5rem;
}
.lf {
padding: 1.5rem;
}
.mf {
padding-top: 1rem;
padding-bottom: 1rem;
}
.nf {
padding-left: 1rem;
padding-right: 1rem;
}
.of {
padding-left: 1.5rem;
padding-right: 1.5rem;
}
.pf {
padding-top: 0.5rem;
padding-bottom: 0.5rem;
}
.qf {
padding-left: 0.25rem;
padding-right: 0.25rem;
}
.rf {
padding-top: 2rem;
padding-bottom: 2rem;
}
.sf {
padding-top: 3rem;
padding-bottom: 3rem;
}
.tf {
padding-left: 2rem;
padding-right: 2rem;
}
.uf {
padding-left: 1.25rem;
padding-right: 1.25rem;
}
.vf {
padding-top: 0.75rem;
padding-bottom: 0.75rem;
}
.wf {
padding-top: 1.5rem;
padding-bottom: 1.5rem;
}
.xf {
padding-left: 2.25rem;
padding-right: 2.25rem;
}
.yf {
padding-left: 4rem;
padding-right: 4rem;
}
.zf {
padding-top: 0.875rem;
padding-bottom: 0.875rem;
}
.ag {
padding-left: 2.5rem;
padding-right: 2.5rem;
}
.bg {
padding-left: 1.25rem;
}
.cg {
padding-top: 3rem;
}
.dg {
padding-bottom: 3rem;
}
.eg {
text-align: center;
}
.fg {
font-size: 1rem;
line-height: 1.5rem;
}
.gg {
font-size: 0.875rem;
line-height: 1.25rem;
}
.hg {
font-size: 1.875rem;
line-height: 2.25rem;
}
.ig {
font-size: 1.125rem;
line-height: 1.75rem;
}
.jg {
font-size: 2.25rem;
line-height: 2.5rem;
}
.kg {
font-size: 1.25rem;
line-height: 1.75rem;
}
.lg {
font-size: 3rem;
line-height: 1;
}
.mg {
font-weight: 500;
}
.ng {
font-weight: 700;
}
.og {
font-weight: 400;
}
.pg {
text-transform: uppercase;
}
.qg {
font-style: italic;
}
.rg {
line-height: 1.75rem;
}
.sg {
line-height: 1.25;
}
.tg {
line-height: 1.625;
}
.ug {
letter-spacing: 0.1em;
}
.vg {
--tw-text-opacity: 1;
color: rgba(24, 24, 27, var(--tw-text-opacity));
}
.wg {
--tw-text-opacity: 1;
color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.xg {
--tw-text-opacity: 1;
color: rgba(161, 161, 170, var(--tw-text-opacity));
}
.yg {
--tw-text-opacity: 1;
color: rgba(82, 82, 91, var(--tw-text-opacity));
}
.zg {
--tw-text-opacity: 1;
color: rgba(212, 212, 216, var(--tw-text-opacity));
}
.ah {
--tw-text-opacity: 1;
color: rgba(63, 63, 70, var(--tw-text-opacity));
}
.bh {
--tw-text-opacity: 1;
color: rgba(113, 113, 122, var(--tw-text-opacity));
}
.ch::-moz-placeholder {
--tw-placeholder-opacity: 1;
color: rgba(24, 24, 27, var(--tw-placeholder-opacity));
}
.ch:-ms-input-placeholder {
--tw-placeholder-opacity: 1;
color: rgba(24, 24, 27, var(--tw-placeholder-opacity));
}
.ch::placeholder {
--tw-placeholder-opacity: 1;
color: rgba(24, 24, 27, var(--tw-placeholder-opacity));
}
.dh::-moz-placeholder {
--tw-placeholder-opacity: 1;
color: rgba(161, 161, 170, var(--tw-placeholder-opacity));
}
.dh:-ms-input-placeholder {
--tw-placeholder-opacity: 1;
color: rgba(161, 161, 170, var(--tw-placeholder-opacity));
}
.dh::placeholder {
--tw-placeholder-opacity: 1;
color: rgba(161, 161, 170, var(--tw-placeholder-opacity));
}
.eh::-moz-placeholder {
--tw-placeholder-opacity: 1;
color: rgba(82, 82, 91, var(--tw-placeholder-opacity));
}
.eh:-ms-input-placeholder {
--tw-placeholder-opacity: 1;
color: rgba(82, 82, 91, var(--tw-placeholder-opacity));
}
.eh::placeholder {
--tw-placeholder-opacity: 1;
color: rgba(82, 82, 91, var(--tw-placeholder-opacity));
}
.fh {
caret-color: #18181b;
}
.gh {
opacity: 0.3;
}
.hh {
opacity: 0.7;
}
.ih {
opacity: 0.2;
}
.jh {
--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.kh {
outline: 2px solid transparent;
outline-offset: 2px;
}
.lh {
--tw-blur: blur(16px);
filter: var(--tw-filter);
}
.mh {
--tw-drop-shadow: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
filter: var(--tw-filter);
}
.nh {
filter: var(--tw-filter);
}
.oh {
transition-property: all;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 150ms;
}
.ph {
transition-duration: 200ms;
}
.qh {
transition-duration: 1000ms;
}
.rh {
transition-duration: 300ms;
}
.sh:hover {
--tw-translate-x: 0.25rem;
transform: var(--tw-transform);
}
.th:hover {
--tw-border-opacity: 1;
border-color: rgba(24, 24, 27, var(--tw-border-opacity));
}
.uh:hover {
--tw-bg-opacity: 1;
background-color: rgba(82, 82, 91, var(--tw-bg-opacity));
}
.vh:hover {
--tw-bg-opacity: 1;
background-color: rgba(250, 250, 250, var(--tw-bg-opacity));
}
.wh:hover {
--tw-bg-opacity: 1;
background-color: rgba(244, 244, 245, var(--tw-bg-opacity));
}
.xh:hover {
--tw-bg-opacity: 1;
background-color: rgba(24, 24, 27, var(--tw-bg-opacity));
}
.yh:hover {
--tw-bg-opacity: 0.9;
}
.zh:hover {
--tw-text-opacity: 1;
color: rgba(82, 82, 91, var(--tw-text-opacity));
}
.ai:hover {
--tw-text-opacity: 1;
color: rgba(24, 24, 27, var(--tw-text-opacity));
}
.bi:hover {
--tw-text-opacity: 1;
color: rgba(212, 212, 216, var(--tw-text-opacity));
}
.ci:hover {
--tw-text-opacity: 1;
color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.di:hover {
--tw-text-opacity: 0.5;
}
.ei:focus {
--tw-border-opacity: 1;
border-color: rgba(24, 24, 27, var(--tw-border-opacity));
}
.fi:focus {
--tw-border-opacity: 1;
border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.gi:focus {
--tw-bg-opacity: 1;
background-color: rgba(228, 228, 231, var(--tw-bg-opacity));
}
.hi:focus {
--tw-bg-opacity: 1;
background-color: rgba(82, 82, 91, var(--tw-bg-opacity));
}
.ii:focus {
--tw-bg-opacity: 1;
background-color: rgba(24, 24, 27, var(--tw-bg-opacity));
}
.ji:focus {
--tw-text-opacity: 1;
color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.ki:focus {
outline: 2px solid transparent;
outline-offset: 2px;
}
.li:focus {
--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.mi:focus {
--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.ni:focus {
--tw-ring-opacity: 1;
--tw-ring-color: rgba(24, 24, 27, var(--tw-ring-opacity));
}
.oi:focus {
--tw-ring-opacity: 1;
--tw-ring-color: rgba(228, 228, 231, var(--tw-ring-opacity));
}
.pi:focus {
--tw-ring-opacity: 1;
--tw-ring-color: rgba(255, 255, 255, var(--tw-ring-opacity));
}
.qi:focus {
--tw-ring-offset-width: 2px;
}
.ri:hover .si {
top: -0.375rem;
right: -0.375rem;
bottom: -0.375rem;
left: -0.375rem;
}
.ri:hover .ti {
top: -0.25rem;
right: -0.25rem;
bottom: -0.25rem;
left: -0.25rem;
}
.ri:hover .ui {
opacity: 1;
}
.ri:hover .vi {
transition-duration: 200ms;
}
@media (min-width: 640px) {

.wi {
    position: absolute;
}

.xi {
    top: 0px;
    bottom: 0px;
}

.yi {
    right: 0px;
}

.zi {
    order: 2;
}

.aj {
    order: 1;
}

.bj {
    grid-column: span 1 / span 1;
}

.cj {
    grid-column: span 3 / span 3;
}

.dj {
    margin-left: 0px;
    margin-right: 0px;
}

.ej {
    margin-top: 3rem;
}

.fj {
    margin-top: 2rem;
}

.gj {
    margin-top: 2.5rem;
}

.hj {
    margin-top: 0px;
}

.ij {
    margin-top: 4rem;
}

.jj {
    margin-top: 1.25rem;
}

.kj {
    margin-left: 3rem;
}

.lj {
    display: block;
}

.mj {
    display: inline;
}

.nj {
    display: flex;
}

.oj {
    width: auto;
}

.pj {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.qj {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.rj {
    align-items: flex-start;
}

.sj {
    align-items: center;
}

.tj {
    justify-content: flex-end;
}

.uj {
    justify-content: center;
}

.vj {
    justify-content: space-between;
}

.wj {
    gap: 4rem;
}

.xj {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
}

.yj {
    row-gap: 2rem;
}

.zj {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
}

.ak > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(4rem * var(--tw-space-x-reverse));
    margin-left: calc(4rem * calc(1 - var(--tw-space-x-reverse)));
}

.bk > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2rem * var(--tw-space-x-reverse));
    margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}

.ck > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(3rem * var(--tw-space-x-reverse));
    margin-left: calc(3rem * calc(1 - var(--tw-space-x-reverse)));
}

.dk > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.25rem * var(--tw-space-x-reverse));
    margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.ek {
    border-radius: 0.75rem;
}

.fk {
    border-width: 1px;
}

.gk {
    border-style: none;
}

.hk {
    --tw-border-opacity: 1;
    border-color: rgba(161, 161, 170, var(--tw-border-opacity));
}

.ik {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.jk {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.kk {
    padding-left: 0px;
    padding-right: 0px;
}

.lk {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.mk {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.nk {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.ok {
    padding-left: 2rem;
    padding-right: 2rem;
}

.pk {
    padding-left: 4rem;
    padding-right: 4rem;
}

.qk {
    padding-top: 4rem;
}

.rk {
    padding-bottom: 4rem;
}

.sk {
    padding-right: 0.5rem;
}

.tk {
    padding-right: 0.75rem;
}

.uk {
    text-align: left;
}

.vk {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.wk {
    font-size: 3rem;
    line-height: 1;
}

.xk {
    line-height: 1.25;
}

.yk:focus-within {
    --tw-border-opacity: 1;
    border-color: rgba(24, 24, 27, var(--tw-border-opacity));
}

.zk:focus-within {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.al:focus-within {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgba(24, 24, 27, var(--tw-ring-opacity));
}

.bl:focus {
    border-color: transparent;
}

.cl:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
}
@media (min-width: 768px) {

.dl {
    order: 2;
}

.el {
    order: 1;
}

.fl {
    margin-left: 0px;
    margin-right: 0px;
}

.gl {
    margin-left: auto;
    margin-right: auto;
}

.hl {
    margin-top: 0px;
}

.il {
    margin-top: 5rem;
}

.jl {
    margin-top: 2.5rem;
}

.kl {
    margin-top: 4rem;
}

.ll {
    display: block;
}

.ml {
    display: flex;
}

.nl {
    display: none;
}

.ol {
    width: 100%;
}

.pl {
    max-width: none;
}

.ql {
    max-width: 42rem;
}

.rl {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.sl {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.tl {
    align-items: center;
}

.ul {
    justify-content: flex-end;
}

.vl {
    justify-content: space-between;
}

.wl {
    gap: 0px;
}

.xl {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
}

.yl > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(3rem * var(--tw-space-x-reverse));
    margin-left: calc(3rem * calc(1 - var(--tw-space-x-reverse)));
}

.zl {
    border-left-width: 1px;
}

.am {
    border-top-width: 1px;
}

.bm {
    --tw-border-opacity: 1;
    border-color: rgba(228, 228, 231, var(--tw-border-opacity));
}

.cm {
    padding: 2rem;
}

.dm {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.em {
    text-align: left;
}
}
@media (min-width: 1024px) {

.fm {
    order: 2;
}

.gm {
    order: 1;
}

.hm {
    margin-left: 0px;
    margin-right: 0px;
}

.im {
    margin-left: auto;
    margin-right: auto;
}

.jm {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.km {
    margin-top: 6rem;
}

.lm {
    margin-top: 0px;
}

.mm {
    margin-left: 2.5rem;
}

.nm {
    margin-left: auto;
}

.om {
    margin-left: 4rem;
}

.pm {
    margin-top: 5rem;
}

.qm {
    margin-top: 0.75rem;
}

.rm {
    display: block;
}

.sm {
    display: flex;
}

.tm {
    display: none;
}

.um {
    max-width: 100%;
}

.vm {
    max-width: 56rem;
}

.wm {
    max-width: none;
}

.xm {
    max-width: 72rem;
}

.ym {
    max-width: 64rem;
}

.zm {
    --tw-translate-y: 3rem;
    transform: var(--tw-transform);
}

.an {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.bn {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.cn {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.dn {
    flex-direction: row;
}

.en {
    align-items: center;
}

.fn {
    justify-content: flex-start;
}

.gn {
    justify-content: flex-end;
}

.hn {
    justify-content: center;
}

.in {
    justify-content: space-between;
}

.jn {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
}

.kn {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
}

.ln > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(4rem * var(--tw-space-x-reverse));
    margin-left: calc(4rem * calc(1 - var(--tw-space-x-reverse)));
}

.mn > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2rem * var(--tw-space-x-reverse));
    margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}

.nn > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2.5rem * var(--tw-space-x-reverse));
    margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.on > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(6rem * var(--tw-space-x-reverse));
    margin-left: calc(6rem * calc(1 - var(--tw-space-x-reverse)));
}

.pn {
    padding: 3.5rem;
}

.qn {
    padding-left: 2rem;
    padding-right: 2rem;
}

.rn {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.sn {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.tn {
    padding-left: 4rem;
    padding-right: 4rem;
}

.un {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.vn {
    padding-top: 5rem;
}

.wn {
    padding-top: 2rem;
}

.xn {
    padding-right: 3rem;
}

.yn {
    padding-right: 4rem;
}

.zn {
    text-align: left;
}

.ao {
    font-size: 3.75rem;
    line-height: 1;
}

.bo {
    line-height: 1.25;
}
}
@media (min-width: 1280px) {

.co {
    margin-left: 4rem;
}

.do {
    margin-top: 0px;
}

.eo {
    margin-top: 6rem;
}

.fo {
    display: block;
}

.go {
    display: flex;
}

.ho {
    max-width: 56rem;
}

.io {
    max-width: none;
}

.jo {
    max-width: 28rem;
}

.ko {
    --tw-translate-x: 1.5rem;
    transform: var(--tw-transform);
}

.lo {
    --tw-translate-x: 3rem;
    transform: var(--tw-transform);
}

.mo {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.no {
    align-items: center;
}

.oo {
    justify-content: space-between;
}

.po {
    -moz-column-gap: 8rem;
         column-gap: 8rem;
}

.qo {
    -moz-column-gap: 6rem;
         column-gap: 6rem;
}

.ro > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(4rem * var(--tw-space-x-reverse));
    margin-left: calc(4rem * calc(1 - var(--tw-space-x-reverse)));
}

.so > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2.5rem * var(--tw-space-x-reverse));
    margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.to {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.uo {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.vo {
    padding-right: 4rem;
}

.wo {
    padding-left: 5rem;
}

.xo {
    text-align: left;
}

.yo {
    font-size: 3rem;
    line-height: 1;
}
}